.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: red; stroke-width: 2px; }
.bullet .tick line { stroke: yellow; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: rgb(15, 2, 2); }